modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3001

[[ports]]
localPort = 18115
externalPort = 80

[userenv]

[userenv.shared]
EXPO_PUBLIC_SHOPIFY_STORE_DOMAIN = "bbpdqw-tj.myshopify.com"
EXPO_PUBLIC_SHOPIFY_STOREFRONT_TOKEN = "51952f26cc086e7579646d16874617c8"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "mekazon-app"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:142945307209:web:40e9d1c7f32463d4d8cd98"
